################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Explorer/FileContentIndex/0cb2a8af-1a53-43a5-b680-81875c437cf7.vsidx
/.vs/Explorer/FileContentIndex
